<body>

    <!-- MAIN PAGE -->

    <!-- LANDING PAGE SETUP -->

    <div class="container">
        <div class="row">
            <div id="frontPageTitle" class="col-xs-offset-2 col-xs-8">
                <h1><span id="frontPageLogo"><%= image_tag "feedmelingosrssmainlogo.png" %></span>FeedMeLingos
                </h1>
                <p>Learning a second language?<br/>Read, watch and listen to real, up-to-the-minute content, right here, right now!</p>
            </div>
        </div>
        <div class="row">
            <div id="clickflagprompt" class="col-xs-2">Click on a flag >></div>
            <div id="frontPageFlags" class="col-xs-8">
                <% Language.find_each do |language| %>
                <span><%= link_to image_tag("#{language.flagurl}", class: "flag"), language_path(language.id) %></span>
                <% end %>
            </div>
        </div>
        <div class="row">
            <div id="frontPageButtons" class="col-xs-offset-3 col-xs-6">
                <span><button type="button" class="btn btn-lg btn-primary" onclick="borderFlash();">Try it out as guest</button></span>
                <span><button type="button" class="btn btn-lg btn-primary">Sign up</button></span>
                <span><button type="button" class="btn btn-lg btn-primary">Log in</button></span>
            </div>
        </div>
    </div>

    <!-- End of Landing Page Setup -->

    <!-- FOOTER -->
    <!-- NB: always present! -->
    <div class="footer">
        <div class="container">
            <p>&copy; PMM Web Development.</p>
        </div>
    </div>
    <!-- End of Footer -->

    <!-- EVENT SCRIPTS -->

    <!-- Site's own JavaScript file -->

</body>
