<p id="notice"><%= notice %></p>

<p>
  <strong>Sourcetype:</strong>
  <%= @sourcetype.sourcetype %>
</p>

<%= link_to 'Edit', edit_sourcetype_path(@sourcetype) %> |
<%= link_to 'Back', sourcetypes_path %>
